name: CI/CD музыка

on:
  push:
    branches: [main]


jobs:
  update-status-page:
    name: Update Status Page
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run unit tests
        run: ./gradlew test
      - name: Run integration tests
        run: ./gradlew integrationTest
        
