name: CI/CD музыка

on:
  push:
    branches: [main]


jobs:
  update-status-page:
    name: Update Status Page
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run unit tests
        run: ./gradlew test
      - name: Run integration tests
        run: ./gradlew integrationTest
      - name: Update Status Page
        run: |
          sed -i "s|id=\"unit-tests-status\">.*<|id=\"unit-tests-status\">${{ job.status }}<|" static/index.html
          sed -i "s|id=\"unit-tests-build\">.*<|id=\"unit-tests-build\">${{ github.run_number }}<|" static/index.html
          sed -i "s|id=\"unit-tests-date\">.*<|id=\"unit-tests-date\">$(date +'%d/%m/%Y %H:%M')<|" static/index.html
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add static/index.html
          git commit -m "Update CI/CD status page"
          git push
        
